/* Основные стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Стили для попапа */
.popup {
    width: 300px;
    background-color: palevioletred;
    height: 200px;
    padding: 15px;
    text-align: center;
    display: none; /* Прячем попап */
    position: fixed; /* Фиксированное положение */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Смещаем от центра */
    z-index: 9999; /* Выводим поверх остальных элементов */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.popup.active {
    display: block; /* Показываем попап, когда он активен */
}

.popup input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.popup button {
    width: 80%;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}



/* Стили для хедера */
.header__top {
    background: #D4E9F9;
    padding: 10px 0;
}

.header__center {
    background: #F7EBE5;
    padding: 15px 0;
}

.header__center .container {
    display: flex;
    justify-content: space-between;
}

.header__center ul {
    display: flex;
    column-gap: 43px;
}

.header__center .center__left {
    column-gap: 14px;
}

.center__right {
    display: flex;
    column-gap: 30px;
}

.center__right ul li {
    position: relative;
}

.header__bottom {
    padding: 19px 17px;
}
